@import"reset.css"; 
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap');
body{font-family: 'Baloo Tamma 2', cursive;}
body{justify-content: center;
    height: 100vh;
    align-items: center;}

.A{display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width:1520px;
    background-color: white;
    height: 150px;}

.main-picture img{height:150px;}
    
.status-bar{width:1119px;background-color:rgb(171, 33, 212);
            height:60px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding:0px 200px;
            font-size:20px;}

.status-bar-coulmn a{color:white;
                    text-decoration:none;}

.status-bar .fa-home{color:white;}

.flower----{display: flex;
            justify-content: center;}

.flower-text{text-align: center;
             font-size:50px;
             color:rgb(211, 117, 255);
             padding : 100px 0px;
             background-color: ivory;
             width:700px;}

.section{display: flex;}

.section input[id*="slide"]{display:none;}

.section .slidewrap{max-width:700px;
                    margin:0 auto;
                    overflow:hidden;}

.section .slidelist{white-space:nowrap;
                    font-size:0;}

.section .slidelist >li {display:inline-block;
                        vertical-align:middle;
                        width:100%;
                        transition:all .5s;}

.sectoin .slidelist >li>a{display:block;
                         position:relative;}

.section .slidelist > li > a img{width:100%}

.section .slidelist label{position:absolute;
                          z-index:10;
                          top:50%;
                          transform:translateY(-50%);
                          padding:50px;
                          cursor:pointer;}
            
.section .slidelist .left{left:30px;
                          background:url("졸업과제.img/left.png") center center / 100% no-repeat;}

.section .slidelist .right{right:30px;
                          background:url("졸업과제.img/right.png") center center / 100% no-repeat;}
            
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}



